@charset "utf-8";

/*
   
   Filename: tb_visual3.css

*/

/* HTML Styles */
html {
   background-image: url(../images/tb_back5.png);
   background-attachment: fixed;
}


/* Page Body Styles */
body{
   border-left: 1px solid rgb(51, 51, 51);
   border-right: 1px solid rgb(51, 51, 51);
   box-shadow: rgb(51, 51, 51) 15px 0px 25px, rgb(51, 51, 51) -15px 0px 25px;
}


/* Main Styles */
main{
   background: url(../images/tb_back65png) bottom right / 15% no-repeat content-box,
   url(../images/tb_back7.png) 100% / cover no-repeat,
   rgb(211,211,211) ;
   box-shadow: inset rgb(71, 71, 71) -10px -10px 25px,
   inset rgb(71, 71, 71) 10px 10px 25px;
}


/* Figure Box Styles */
figure{
   border-style: solid;
   border-width: 25px;
   border-image: url(../images/tb_frame.png) 50 round;
   margin: 20px auto 0;
   width: 80%;
}

figure img {
   display: block;
   width: 100%;
   opacity: 0.7;
}

figure figcaption{
   background-color: white;
   font-family: 'Palatino Linotype',Palatino,'Times New Roman','serif';
   font-style: italic;
   padding: 10px 0;
   text-align: center;
}



/* Article Styles */
article {
   background: url(../images/tb_back6.png) bottom right / 15% no-repeat content-box;
   border-right: 8px double rgb(51, 51, 51);
   border-bottom: 8px double rgb(51, 51, 51);
   border-radius: 30px;
}

article header h1{
   text-shadow: rgb(181, 211, 181) 2px 2px 1px,
   rgba(21, 21, 21, 0.66) 5px  5px 25px;
}


/* Footer Styles */

footer{
   background: linear-gradient(345deg, rgb(239, 209, 112),rgb(153, 109, 14) 80%);
}